[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"
python-barcode = "*"
pillow = "*"
tabulate = "*"
requests = "*"
openai = "*"
slack-sdk = "*"
flask-jwt-extended = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.13"
